.custom-dropdown {
  position: relative;
  //display: inline-block;

  .selected-value {
    min-width: 170px;
    margin-top: 12px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ced4da;
    max-height: 200px; /* Maksimum yükseklik */
    overflow-y: auto; /* Yükseklik sınırına ulaşıldığında scroll ekle */
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    z-index: 1;

    div {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }

  @media (max-width: 768px) {
    .selected-value {
      min-width: 215px;
    }
  }
}


