.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .pricing-table {
    width: 80%; // Tablonun genişliği sayfa genişliğinin 80%'i
    border-collapse: collapse;
    margin-top: 20px; // İstenirse boşluk ekleyebilirsiniz
  }

  .pricing-table th, .pricing-table td {
    border: 1px solid #ddd; // Kenarlıklar için sınır
    padding: 8px;
    text-align: left;
  }

  .pricing-table th {
    background-color: #f2f2f2; // Tablonun başlığı için arkaplan rengi
  }

  .pricing-table input {
    width: 100%; // Input'un genişliği yüzde yüz
    padding: 8px;
    box-sizing: border-box; // Padding dahil genişlik hesaplaması
  }

  .pricing-table button {
    width: 100%; // Button'un genişliği yüzde yüz
    padding: 8px;
    background-color: #4caf50; // Button rengi
    color: white; // Button metin rengi
    border: none;
    cursor: pointer;
  }
}


