.about-us {
  text-align: center;
  margin: auto;
  width: 58%;
  padding-top: 3rem;
  .about-img {
    text-align: center;
    margin: 10px auto auto;

    img {
      width: 512px;
      height: 512px;
    }
  }
}