.appointment {
  padding: 24rem 6rem 20rem 6rem;
  position: relative;

  .appointment-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    .appointment-background-i {
      .appointment-background-img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .appointment-form {
    z-index: 2;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dce0e5;
    border-radius: 38px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    form {
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      .date-label {
        input#typeId {
          min-height: 1px;
        }

        position: relative;

        .icon {
          position: absolute;
          left: 10px; // Adjust the left value to position the icon
          top: 0;
          transform: translateX(10px);
        }

        input[type="text"],
        input[type="date"] {
          padding-left: 30px; // Adjust the padding to make space for the icon
        }
      }

      button {
        width: 170px;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        margin-top: 5px;
        outline: none;

        &:focus {
          border-color: #007bff;
        }
      }

      input {
        width: 170px;
        height: 36px;
        font-size: 16px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        margin-top: 12px;
        outline: none;
        text-align: center;

        &:focus {
          border-color: #007bff;
        }
      }

      #typeId::placeholder {
        margin-left: 20px;
        color: black;
      }

      button {

        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }


      .appointment-button {
        margin: 13px auto auto;

        .apt-button {
          margin-top: -2px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #333;
          font-size: 15px;
          height: 40px;
          width: 170px;
          border-radius: 20px;
          border: 1px solid black;
          cursor: pointer;
          text-decoration: auto;
          color: white;

          &:hover {
            background-color: #484844;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2rem;
    background-size: cover;

    .appointment-form {
      padding: 0 0 10px 0;
      background-color: transparent;
      border-color: transparent;

      form {
        .date-label {

          .icon {
            top: 5px;
          }

          input[type="text"],
          input[type="date"] {
            padding-left: 46px; // Adjust// the padding to make space for the icon
            height: 28px;
            padding-right: 20px;
          }
        }
      }

      .appointment-button {
        .apt-button {
          min-width: 250px;
        }
      }
    }
    .appointment-form label {
      font-size: 14px;
      padding: 6px;
    }

    .appointment-form select,
    .appointment-form input {
      font-size: 14px;
      padding: 6px;
    }
  }
}

@media (min-width: 1800px) {
  .appointment {
    padding: 24rem 6rem 32rem 6rem;
  }
}