.whatsapp {
  position: fixed;
  bottom: 40px;
  left: 40px;
  cursor: pointer;

  z-index: 1000; /* Make sure it's on top of other elements */

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}