.reservation {
  display: grid;
  grid-template-columns: 30% 70%; /* 30% sol, 70% sağ */
  gap: 10px; /* İki sütun arasındaki boşluk */
  .reservation-dropdown {
    display: flex;
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 3rem;
    flex-direction: column;
    width: 300px;

    .reservation-dropdown-item {
      height: 40px;
      font-size: 16px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      margin-top: 1rem;
      outline: none;
    }

    .reservation-dropdown-item:last-child {
      padding-top: 0;
      padding-bottom: 0;
    }

    .reservation-dropdown_date-input {
      .react-datepicker-wrapper {
        width: 100%;
        height: 100%;
        margin-top: 12px;

        .react-datepicker__input-container {
          input {
            width: 96%;
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 11.5px 0 11.5px 11.5px;
            font-size: 15px;
          }
          input::placeholder {
            color: black;
          }
        }
      }
      .react-datepicker__tab-loop {
        .react-datepicker-popper {
          .react-datepicker {
            .react-datepicker__navigation, .react-datepicker__navigation--previous {
              width: 30px;
              height: 23px;
            }
          }
        }
      }
    }
  }

  .reservation-right {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4rem;

    .reservation-vehicle {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      padding: 0 2rem 1rem 0;
      border-bottom: 1px solid #D6D5D8;

      .reservation-vehicle-img {
        margin-right: 40px;

        .reservation-vehicle__gallery {
          cursor: pointer;
          border: none;
          padding: 0;
          margin: auto;
          background-color: transparent;
          width: 24px;
          height: 24px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        img {
          width: 300px;
          height: 200px;
        }
      }

      .reservation-vehicle-info {
        min-width: 320px;

        h2 {
          margin-top: 0;
        }

        .reservation-vehicle-info__person-size {
          display: flex;

          .reservation-vehicle-info__person-size__info {
            margin: 5px;
          }
        }
      }

      .reservation-vehicle-button {
        margin-left: 80px;

        button {
          margin-left: 30px;
          border: 1px solid gray;
          border-radius: 10px;
          padding: 5px;
          background-color: gainsboro;
          cursor: pointer;
          min-width: 100px;

          &:hover {
            background-color: #f1f0f0;
          }
        }
      }
    }

    .reservation-vehicle:last-child {
      border-bottom: none;
    }

    .reservation-vehicle:first-child {
      .reservation-vehicle-img {
        img {
          //transform: scaleX(-1);
        }

        .reservation-vehicle__gallery {
          img {
            //transform: scaleX(1);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 0 0;
    display: block;
    .reservation-dropdown {
      margin: auto;
      padding: 0;
    }

    .reservation-right {
      text-align: center;
      padding: 2rem 0;

      .reservation-vehicle {
        display: grid;
        width: 100%;

        .reservation-vehicle-img {
          margin-right: 0;
        }

        .reservation-vehicle-info {
          margin: auto;

          h2 {
            font-size: 20px;
          }
        }

        .reservation-vehicle-button {
          margin-left: 0;

          button {
            margin-left: 0;
          }
        }
      }
    }
  }
}

