.contacts {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 17rem;
  width: 58%;

  .contacts-info {
    display: flex;

    .contacts-info__subtitle {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}