
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;

  .logo {
    margin-left: auto;

    img {
      width: 200px;
    }
  }

  .menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 4px;

    .menu-item {
      margin-right: 25px;
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: bold;

      &:hover {
        color: #007bff; /* Hover durumunda metin rengi değişimi */
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .language-dropdown {
    position: relative;

    .language-button {
      background-color: #fff;
      color: #333;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 15px;
    }

    .dropdown-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;

      button {
        color: black;
        padding: 8px 15px;
        text-decoration: none;
        display: block;
        background-color: #f9f9f9;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 15px;


        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}