.app {
  font-family: 'Arial', sans-serif;

  &.mobile {
    .logo {
      margin-bottom: 10px;
    }
  }

  .app-logo {
    display: flex;
    margin: auto;
    background-color: #000;
    border-bottom: 1px solid gray;

    img {
      padding-top: 10px;
      padding-left: 10px;
      width: 200px;
      padding-bottom: 1rem;
    }
  }

  .sidebar-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
  }

  .language-dropdown {
    position: relative;
    border-radius: 15px;
    .language-button {
      background-color: #000;
      color: #fff;
      padding: 8px 15px;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 15px;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    .dropdown-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;

      button {
        color: black;
        padding: 8px 15px;
        text-decoration: none;
        display: block;
        background-color: #f9f9f9;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: 15px;


        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .language-dropdown {
      border: 1px solid white;
      position: absolute;
      top: 23px;
      right: 80px;
    }
  }
}
